* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, sans-serif;
}

body {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: #fff;
    min-height: 100vh;
}

.hero {
    padding: 30px 10px;
    backdrop-filter: blur(10px);
}

.hero-content {
    max-width: 900px;
    margin: 20px 60px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.85;
}

section p{
    max-width: 700px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    max-width: 1200px;
    margin-top: 5px;
    margin: auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 1);
}

nav ul li {
    margin: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 1);
}

section {
    margin-bottom: 30px;
}

section h2 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.flex{
    display: flex;
    justify-content: left;
    gap: 120px;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin: 6px 0;
}



.gallery {
    width: 160px;
    border-radius: 12px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.gallery:hover {
    transform: scale(1.08);
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

video, iframe {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
}

audio{
    margin-top: 10px;
    border-radius: 12px;
}



footer {
    text-align: center;
    padding: 15px;
    opacity: 0.7;
    font-size: 0.9rem;
}
